
<div class="row">

  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of items">
    <div class="card h-100">
      <img class="card-img-top" src='{{item.image}}' alt="">
      <div class="card-body">
        <h4 class="card-title">
          {{item.title}}
        </h4>
        <h5>${{item.price}}</h5>
        <p class="card-text"> {{item.description}}
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        
      </div>
      <button class="btn btn-primary" (click)="addToCart(item)">Add to Cart</button>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 text-right" style="position: fixed; bottom: 0;">
      <button class="btn btn-lg btn-block btn-success text-uppercase" [routerLink]="['/shopping-cart']" >Shopping Cart</button>
  </div>

</div>
