<h2 class="page-header" align="center">Welcome to Smith's Paint Shop</h2>
<div class="row">
    <div class="col-md-4 list-group">
        <h3 style="text-align:center">Paint Colors</h3>
        <a  *ngFor="let color of paintColors" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{color.name}}</h5>
            </div>
            <ul style="list-style-type:none">
                <li>Color: {{color.color}}</li>
                <li>Container Size: {{color.size}}</li>
                <li>Price: {{color.price}}</li>
            </ul>
            <button (click)="addToCart(color)">Add to Cart</button>
        </a>
    </div>
    <div class="col-md-4 list-group">
        <h3 style="text-align:center">Brushes</h3>
        <a  *ngFor="let brush of brushes" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{brush.name}}</h5>
            </div>
            <ul style="list-style-type:none">
                <li>Brush Size: {{brush.size}}</li>
                <li>Handle Material: Wood</li>
                <li>Price: {{brush.price}}</li>

            </ul>
            <button (click)="addToCart(brush)">Add to Cart</button>
        </a>
    </div>
    <div class="col-md-4 list-group">
        <h3 style="text-align:center">Rollers</h3>

    </div>
  </div>


