
<h2 class="page-header" align="center">Shopping Cart</h2>



<div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                        </tr>
                    </thead>
                    <h1 *ngIf="items.length==0"></h1>
                    <tbody *ngIf="items.length>0">
                        <tr *ngFor="let item of items">
                            <td><img style="height:40px;" src="{{item.image}}"> </td>
                            <td>{{item.price}}</td>
                            <td>In stock</td>
                            <td>1</td>
                            <td class="text-right">${{item.price}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right">{{totalPrice| number: '1.2-2'}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Shipping</td>
                            <td class="text-right">$6.90 </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>{{totalPrice + 6.90| number: '1.2-2'}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-lg  btn-block btn-light" [routerLink]="['/dashboard']">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase" [routerLink]="['/checkout']" >Checkout</button>
                </div>
            </div>
        </div>
    </div>



<!-- <div class="row">
    <div class="col-md-4 list-group">
            <ul style="list-style-type:none" *ngFor="let item of items">
            <li>item:{{item.title}} </li>
            <li>price: {{item.price}}</li>
            </ul>
            <li>Items in cart: {{totalItems}}</li>
            <li>Total:{{totalPrice}} </li>
            <div>
                <a class="btn btn-primary" [routerLink]="['/checkout']">Checkout</a>
            </div>
    </div>
</div>
 -->



