<div class="jumbotron text-center">
  <h1>Smith's Paint Shop</h1>
  <p class="lead">Welcome to our custom Paint Company ERP</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-info" [routerLink]="['/login']">Login</a>
  </div>
  <div>
    <a class="btn btn-danger" [routerLink]="['/inventory']">Inventory</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Who we are</h3>
    <p>Smith's Paint Shop founded in 2018 by Patrick, Rafael, Soeb, Jhalak, Chanrath, and Amrish. Starting in Abington as a single location, we have expanded to over 4 locations across the Philadelphia area. We are a customer service based company with expert service who can help you bring your design to life with our premium brand paint and paint accessories.  </p>
  </div>
  <div class="col-md-4">
    <h3>Our mission</h3>
    <p>Provide premium paint and paint accessories to both families and businesses all over the United States.</p>
  </div>
  <div class="col-md-4">
    <h3>Partnered Brands</h3>
    <p>We have various premium brands to decorate your house or business including Valspar, Sherwin-Williams, Blue Hawk, Project Source, Wagner, and Whizz</p>
  </div>
</div>
