<div class="jumbotron text-center">
  <h1>Smith's Paint Shop</h1>
  <p class="lead">Welcome to our custom Paint Company ERP</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-info" [routerLink]="['/login']">Login</a>
  </div>
  <div class="row">
    <a class="btn btn-danger" [routerLink]="['/brush']">Brush</a>
    <a class="btn btn-danger" [routerLink]="['/paint']">Paint</a>
    <a class="btn btn-danger" [routerLink]="['/roller']">Roller</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>MEAN Stack</h3>
    <p>Sed neque diam, hendrerit eget elementum lobortis, egestas sed elit. Sed vel interdum turpis. Sed vestibulum urna vel quam facilisis pellentesque. Integer faucibus ornare lobortis. Nam ut nulla sodales, tristique metus in, iaculis dolor. Donec volutpat tellus id purus feugiat sagittis. Fusce ut tempor justo, nec auctor purus. Cras nisl metus, malesuada in dui vitae, malesuada blandit mauris.</p>
  </div>
  <div class="col-md-4">
    <h3>CRUD</h3>
    <p>Sed neque diam, hendrerit eget elementum lobortis, egestas sed elit. Sed vel interdum turpis. Sed vestibulum urna vel quam facilisis pellentesque. Integer faucibus ornare lobortis. Nam ut nulla sodales, tristique metus in, iaculis dolor. Donec volutpat tellus id purus feugiat sagittis. Fusce ut tempor justo, nec auctor purus. Cras nisl metus, malesuada in dui vitae, malesuada blandit mauris.</p>
  </div>
  <div class="col-md-4">
    <h3>IST 421</h3>
    <p>Sed neque diam, hendrerit eget elementum lobortis, egestas sed elit. Sed vel interdum turpis. Sed vestibulum urna vel quam facilisis pellentesque. Integer faucibus ornare lobortis. Nam ut nulla sodales, tristique metus in, iaculis dolor. Donec volutpat tellus id purus feugiat sagittis. Fusce ut tempor justo, nec auctor purus. Cras nisl metus, malesuada in dui vitae, malesuada blandit mauris.</p>
  </div>
</div>
